[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
uvicorn = "*"
apscheduler = "*"
aioredis = "*"
faster-whisper = "*"
pytubefix = "*"

[dev-packages]
pytest = "*"
